*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 40rem;
    margin: 2rem auto;
    letter-spacing: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
 
}

input{
    padding: 1rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

textarea{
    border-radius: 10px;
    resize: none;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
   
}
button{
    background-color: rgb(255, 0, 183);
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(226, 21, 189, 0.3) 0px 19px 38px, rgba(103, 8, 75, 0.22) 0px 15px 12px;
}

button:hover{
     background-color: rgb(205, 26, 154);
}

