*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,210,219,1) 48%, rgba(0,0,0,1) 100%);
}


.container{
    width: 25rem;
    margin: 1rem auto;
    padding: 1rem;
}

.inputs{
    display: flex;
    margin-bottom: 2rem;
    justify-content: space-between;
    
}
input{
    width: 10rem;
    padding: 0.5rem;
}
.buttons{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 1rem;
}
button{
    padding: 0.7rem 2rem;
    border: none;
    width: 11rem;
    cursor: pointer;
    
    border-radius: 10px;
}
button:hover{
box-shadow: rgb(187, 237, 255) 0px 20px 30px -10px;
font-size: 0.9rem;
}
.main{
    display: flex;
    justify-content: space-between;
}